@{ 
    var human = ViewData["human"] as Human;
}

<table>
    <tr>
        <td>@human.Id</td>
        <td>@human.FirstName</td>
        <td>@human.LastName</td>
        <td>@human.Age</td>
        <td>@human.IsSick</td>
        <td>@human.Gender</td>
    </tr>
</table>
